.add-category
    display inline-block
    margin-right 1rem
    margin-bottom 1rem
    vertical-align top
    max-width 25rem
    display inline-block

    .form-group
        margin 0

    .btn
        display inline-block
