.money-badge
    display inline-block
    margin-right 1rem
    margin-bottom 1rem
    vertical-align top

    .btn
        display inline-block

.money-badge__edit
    max-width 18rem
    display inline-block
