.number-badge
    display inline-block
    vertical-align top

    .btn
        display inline-block

    input
        text-align center
        background transparent
        border 0
        box-shadow 0 0 0
