@import "./components/main"
@import "./components/money-badge"
@import "./components/loader"
@import "./components/add-category"
@import "./components/number-badge"

.hidden-all
    display none !important
